hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
  } .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  } h1 {
    font-size: xxx-large;
    text-align: center;
  } .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  } h4 {
    text-align: left;
    font-size: medium;
  }.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } .center4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 0;
  } h5 {
    text-align: center;
    font-size: medium;
  } h6 {
    text-align: center;
    font-size: large;
  } .centerx {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 0;
  } .container {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

  } .centerxSmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 0;
  } .centerSmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 0;
  }.centerMan {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 0;
  } .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    clear: both;
    display: block;
 
  } .row {
    display: block;
    display: flex;
    margin-bottom: 0%;
  } .column {
    flex: 20%;
    padding: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
  } .ImageBorder {
      border-width: 0px;
      border-color: Black;
      margin-top: 0px;
      margin-bottom: 0px;
  } .centerxxx {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border: 0; 
  } .column2 {
    width: 50%;
    padding: 10px;
    margin-bottom: 0%;
  
} .button{
   background-color: white;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   margin: 4px 2px;
} .button:hover{
  background-color: lightblue;
}


.button4{
  font-size: medium;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  height: 25px;
  width: 20%;
  border-color: white;
} .button4:hover{
  background-color: white;
  color:black;
text-align: center;
font-family: 'Courier New', Courier, monospace;
height: 35px;
width: 25%;
border-color: black;

}
.button3{
  font-size: medium;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  height: 25px;
  border-color: white;
} .button3:hover{
  background-color: white;
  color:black;
text-align: center;
font-family: 'Courier New', Courier, monospace;
height: 25px;
border-color: black ;

}




.button2{
  font-size: medium;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  height: 25px;
  width: fit-content;
  border-radius: 100%;
  border-color: white;
} .button2:hover{
 background-color: white;
 color:black;
 height: 25px;
 border-color: black;
}.centerxL {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 0;
} .container2 {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;

}

